@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Ubuntu Medium";
  src:
    url("fonts/Ubuntu-Medium.woff2") format("woff2"),
    url("fonts/Ubuntu-Medium.woff") format("woff"),
    url("fonts/Ubuntu-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Ubuntu Regular";
  src:
    url("/fonts/Ubuntu-Regular.woff2") format("woff2"),
    url("/fonts/Ubuntu-Regular.woff") format("woff"),
    url("/fonts/Ubuntu-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Ubuntu Bold";
  src:
    url("/fonts/Ubuntu-Bold.woff2") format("woff2"),
    url("/fonts/Ubuntu-Bold.woff") format("woff"),
    url("/fonts/Ubuntu-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

.sidebar {
  background: url("/svg/bg-sidebar-mobile.svg") top / contain no-repeat;
}

@media screen and (width >= 1024px) {
  .sidebar {
    background: none;
  }

  .banner-steps {
    background: url("/svg/bg-sidebar-desktop.svg") center / cover no-repeat;
  }
}

:root {
  --marine-blue: hsl(213, 96%, 18%);
  --purplish-blue: hsl(243, 100%, 62%);
  --pastel-blue: hsl(228, 100%, 84%);
  --light-blue: hsl(206, 94%, 87%);
  --strawberry-red: hsl(354, 84%, 57%);
  --cool-gray: hsl(231, 11%, 63%);
  --light-gray: hsl(229, 24%, 87%);
  --magnolia: hsl(217, 100%, 97%);
  --alabaster: hsl(231, 100%, 99%);
  --white: hsl(0, 0%, 100%);
}

.text-balance {
  text-wrap: balance;
}
